<div class="container-courses">
<h2>Hey <%= @user_first_name %>,</h2>
</div>

<div class="container-courses">
  <h2>You're playing the <strong><%= @course.name %></strong></h2>
   <!-- The start iof the rotating card -->
      <div class="card-pub">
        <h6 class="pub-name"><%= @pub.name  %></h6>
        <hr>
        <p class="pub-address">Addresss: <%= @pub.address %></p>
        <p class="pub-drink">Drink: <%= @pub.drink %></p>
        <p class="pub-strokes">Par: <%= @pub.strokes %></p>
        <p class="pub-rules"> Click here for this holes rules </p>
      </div>

      <div class="container-courses">
        <%# if @last_element == false %>
          <%#= link_to 'Next Pub', participant_path(pub_id: @pub.id) %>
        <%# else %>
          <%#= link_to 'Final Scores', scorecard_game_path(@game) %>
        <%#end%>

        <%= simple_form_for [@participant, @pub_score] do |form| %>
        <%= form.input :score %>
        <%= form.input :pub_id, as: :hidden%>
        <%= form.button :submit, "Submit Score", class: "btn btn-primary" %>
        <% end %>
      </div>
</div>
</div>
