<div class="container">
<%= @user_first_name %>
</div>

<div class="container">
  <h2><%= @course.name %></h2>
   <%= @pub.id %>
   <p> <%= @pub %> </p>
      <div class="card-pub">
        <p class="pub-name"><%= @pub.name  %></p>
        <p class="pub-address">Addresss: <%= @pub.address %></p>
        <p class="pub-drink">Drink: <%= @pub.drink %></p>
        <p class="pub-strokes">Par: <%= @pub.strokes %></p>
      </div>

      <div class="container">
          <%= form_with(model: [@game, @participant], class: 'form') do |form| %>
      </div>

    <div class="form-group">
      <%= form.submit "Next Pub", class: 'btn btn-primary' %>
    </div>
  <% end %>
      </div>
</div>
