<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <%= image_tag "logo_page.png", class: "avatar", alt: "dropdown menu" %>

    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>


          <li class="nav-item">
<!--            <a href="#" class="avatar nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
-->              <%#= image_tag "logo_page.png", class: "avatar", alt: "dropdown menu" %>
<!--            </a>-->
              <%= link_to "Home", root_path%>

          </li>
              <li class="nav-item"> <%= link_to "Games", games_path(@course) %></li>
              <li class="nav-item"> <%= link_to "Scorecard", "#"%></li>
              <li class="nav-item"> <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete} %></li>

        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
