<div class="container-courses">
  <%= form_with(model: [@course, @game], class: 'form') do |form| %>
  <div class="card-pub">
    <div class="form-group">
      <%= form.label :game_date, 'Game Date and Time', class: 'form-label' %>
      <%= form.datetime_field :date_time, class: 'form-control' %>
    </div>
 </div>

 <%# <div class="card-pub">
    <div class="form-group">
      <%= form.label :participants, class: 'form-label' %>
      <%# <%= form.collection_select(:user_ids, @users, :id, :full_name, { include_blank: 'Select Participants' }, { multiple: true, class: 'form-control' })%>
      <%# </div>
  </div> %>
                          
    <div class="card-pub">
      <div class="form-group">
        <label class='form-label'>Participants</label>
        <% @users.each do |user| %>
          <% unless user == current_user %>
            <div class="form-check">
              <%= check_box_tag 'game[user_ids][]', user.id, @game.user_ids.include?(user.id), id: dom_id(user), class: 'form-check-input' %>
              <%= label_tag dom_id(user), user.full_name, class: 'form-check-label' %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>


  <% if flash[:alert] %>
    <div class="alert alert-success">
      <%= flash[:alert] %>
    </div>
  <% end %>


  <div class="form-group">
    <div class="d-grid gap-2">
      <%= form.submit "Create Game", class: 'btn btn-primary' %>
  </div>
  </div>
    <% end %>
  </div>
</div>
</div>
