<%# <h1>Scorecard</h1> %>
<div class="container-courses">
  <div class="container-scores card-pub-green">
     <% lowest_score_participant = @participants.min_by { |participant| participant.total_score } %>
        <% if lowest_score_participant.user.first_name == current_user.first_name %>
          <h2>Congratulations on winning the "<%= @game.course.name %>",  <%= current_user.first_name %> </h2>
        <%else%>
          <h2>Congratulations on completing the "<%= @game.course.name %>",  <%= current_user.first_name %> </h2>
        <%end%>
  </div>

  <div class="container-scores  table-responsive">
      <table class="score_table table card-pub table-bordered">
        <thead>
          <tr>
            <th scope="col">Pub</th>
              <% @pubs.each do |pub| %>
                <th scope="col"><%= pub.name %></th>
              <% end %>
            <th scope="col">Total Score</th>
          </tr>
          <tr>
            <td scope="col">Pub Drink</td>
              <% @pubs.each do |pub| %>
                <td scope="col"><%= pub.drink %></td>
              <% end %>
            <td></td>
          </tr>
          <tr>
            <td scope="col">Par</td>
              <% @pubs.each do |pub| %>
                <td scope="col"><%= pub.strokes %></td>
              <% end %>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <% @participants.each do |participant| %>
            <tr>
              <td><%= participant.user.first_name %></td>
              <% total_score = 0 %>
                <% @pubs.each do |pub| %>
                  <% score = participant.pub_scores.find_by(pub: pub) %>
                  <% total_score += score&.score.to_i %>
                  <td><%= score&.score || "-" %></td>
                <% end %>
              <td><%= total_score %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
      <% if  @participant.user_id == @game.user_id && @game.status != "ended"%>
      <%= link_to 'End Game', end_game_game_path(@game), data: { turbo_method: :patch}, class: 'btn btn-primary mb-2 w-100' %>
      <% else%>
      <%= link_to 'Retun to Home', root_path, class: 'btn btn-primary mb-2 w-100'%>
      <%end%>
  </div>
</div>
