<%# <h1>Scorecard</h1> %>

    <div class="container-scores card-pub">
      <h2>Congratulations on completing the <%= @game.course.name %></h2>
        <p class="participant-name"><%= current_user.first_name  %></p>
    </div>

<div class="container-scores card-pub">
  <table class="table card-pub table-bordered">
    <thead>
      <tr>
        <th scope="col">Player</th>
        <% @pubs.each do |pub| %>
          <th scope="col"><%= pub.name %></th>
        <% end %>
      </tr>
      <tr>
        <td scope="col">Pub Drink</td>
        <% @pubs.each do |pub|%>
      <td scope="col"><%=pub.drink %> </td>
        <%end%>
      </tr>
      <tr>
        <td scope="col">Par Score</td>
        <% @pubs.each do |pub|%>
      <td scope="col"><%= pub.strokes %> </td>
        <%end%>
      </tr>
    </thead>
    <tbody>
      <% @participants.each do |participant| %>
        <tr>
          <td><%= participant.user.first_name %></td>
          <% @pubs.each do |pub| %>
            <% score = participant.pub_scores.find_by(pub: pub) %>
            <td><%= score&.score || "No Score" %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
