<div class="container mt-4">
  <h1>Game Details</h1>
  <p>Course: <%= @game.course.name %></p>
  <p>Date and Time: <%= @game.date_time %></p>

  <h2>Participants</h2>
  <ul>
    <% @participants.each do |participant| %>
      <li>
        <%= participant.user.email %>:
          <% if participant.user_id == @game.user_id %>
              Organizer
            <% elsif participant.user == current_user %>
              <% if participant.status == 'accepted' %>
                Accepted
              <% elsif participant.status == 'declined' %>
                Declined
              <% else %>
                <%= button_to 'Accept', accept_game_participant_path(@game, participant), method: :patch, class: 'btn btn-success' %>
                <%= button_to 'Decline', decline_game_participant_path(@game, participant), method: :patch, class: 'btn btn-danger' %>
              <% end %>
            <% else %>
              <%= participant.status || 'No Response' %>
          <% end %>
      </li>
    <% end %>
  </ul>
</div>
