<div class="container-courses">
  <div class="header-section">
    <h2 class="courses-heading">Hi, <%= current_user.email %></h2>
    <p class="courses-subheading">Please see a list of your available pubs in this course:</p>
  </div>

  <div class="courses-container">
    <div class="course-info">
      <p class="course-name"><%= @course.name %></p>
      <p class="course-location"><%= @course.location %></p>
      <p class="course-pubs"><%= @course.number_of_pubs %> pubs available</p>
    </div>
  </div>

  <div class="container-pubs">
    <% @pubs.each do |pub| %>
      <div class="card-pub">
        <p class="pub-name"><%= pub.name  %></p>
        <p class="pub-address"><%= pub.address %></p>
        <p class="pub-drink"><%= pub.drink %></p>
      </div>
    <% end %>
  </div>

  <%= link_to "Create Game", new_course_game_path(@course), class: "btn btn-secondary" %>

</div>
