<div class="container-courses">
  <div class="container-parent">
    <div class="header-section">
      <h3 class="courses-heading">Hi, <%= current_user.first_name %></h3>
      <p class="courses-subheading">Please see a list of your available pubs in this course:</p>
  </div>
    </div>

  <div class="card-heading">
      <strong>
      <p class="course-name">Course:<%= @course.name %></p>
      <p class="course-location">Location:<%= @course.location %></p>
      <p class="course-pubs"><%= @course.number_of_pubs %> pubs available</p></strong>
  </div>

    <% @pubs.each do |pub| %>
    <%#= pub.id %>
     <!-- <div class="card-subheading">-->
        <p class="pub-name"><%= link_to pub.name, pub_path(pub.id) %></p>
      <!--</div>-->
      <div class="card-pub">
        <p class="pub-address"><%= pub.address %></p>
        <p class="pub-drink"><%= pub.drink %></p>
      </div>
    <% end %>

<div class="d-grid gap-2">
    <%= link_to "Create Game", new_course_game_path(@course), class: "btn btn-primary" %>
</div>
  </div>
</div>
