<div class="container-courses">
  <div class="card-pub-green">
    <h6>Hi <%= current_user.first_name %>,</h6>
    <h6>Get ready for an unforgettable adventure! Behold, the vibrant lineup of pubs awaiting you on the chosen course. It's time for your Par-tee adventure to begin!</h6>
  </div>
  <% @pubs.each do |pub| %>
    <div class="card-pub">
      <h5 class="pub-name" ><%= link_to pub.name, pub_path(pub.id), class:"card-pub-link" %></h5>
      <div class="d-flex gap-3 mt-3"><i class="fa fa-map-pin " aria-hidden="true"></i><p class="pub-address ml-2"><%= pub.address %></p></div>
<!--      <p class="pub-address"><%#= pub.address %></p>

-->
    <div class="d-flex gap-3 mt-3"><i class="fa fa-beer" aria-hidden="true"> </i><p class="pub-drink ml-2"><%=  pub.drink %></p></div>

     <!--<p class="pub-drink"><%#= pub.drink %></p>-->
    </div>
  <% end %>
  <div class="d-grid gap-2">
    <%= link_to "Create Game", new_course_game_path(@course), class: "btn btn-primary" %>
  </div>
</div>
</div>
